header{
    margin: 25px;
    padding: 20;
    position: sticky;
    top: 0;

}
#tudo{
    background-color: rgb(169, 180, 241);
}
.i{
    
    height: 40px;
    
    
    
}
.gif{
    text-align: center;
    height: auto;
    width: auto;
    max-width: 100%;
}
.foto{
    height: auto;
    width: auto;
    max-width: 100%;
}
.caixas{
    margin: 10px;
    padding: 10px;
    background-color: bisque;
}